@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    list-style: none;
}

html {
    font-size: 16px;
}

body {
    background-color: #F6F9FB;
}

.header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px 25px 25px;
    margin-bottom: 20px;
    max-width: 1290px;
    margin: 0 auto;
    background-color: #ffffff;
}

.icon-svg {
    height: 22px;
}

.header-social-media {
    display: none;
    gap: 20px;
}

.header-menu-list {
    display: none;
}

.header-menu-list nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    font-size: 22px;
    color: #4A5568;

}


.header-button {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    cursor: pointer;
}

.header-ham {
    width: 20px;
    height: 2px;
    background-color: #4A5568;
    margin: 2px 0;
    border-radius: 15px;
    transition: .3s ease;
    z-index: 2;
}

.header-button:hover > .header-ham {
    background-color: #FF0113;

}

.header-box {
    width: 1.938rem;
    height: 10px;
    padding: 20px;

}

.header-menu {
    display: none;
    position: absolute;
    background-color: #4A5568;
    width: 100%;
    top: 0%;
    bottom: 0%;
    right: 0;
    left: 15%;
}

.header-menu nav ul li {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.header-image-content {
    background-color: #1A202C;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.header-image {
    height: 80px;
}

.header-image-2 {
    max-width: 900px;
    min-width: 200px;
}

/* ------------ main --------------*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-card {
    display: flex;
    flex-direction: column;
    width: 364px;
    margin: 20px auto;
    gap: 15px;
    background-color: #ffffff;
    border-radius: 10px;
}

.card-image {
    height: 242px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.content-wdt {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
}

.card-indice {
    color: #F4313F;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    letter-spacing: .05em;
    font-size: 12px;
    text-transform: uppercase;
    transition: .3s ease;
    background-color: wheat;
    width: 0px;
    cursor: pointer;
}

.card-indice:hover {
    color: #FF0113;
}

.card-titulo {
    color: #2D3748;
    font-size: 28px;
    transition: .3s ease;
    cursor: pointer;
}
.card-titulo:hover {
    color: #FF0113;
}


.card-paragrafo {
    color: #1A202C;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.6;
}

.content-seemore {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.card-seemore {
    font-family: 'Work Sans', Sans Serif;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
    text-decoration: none;
    color: #2D3748;
    font-size: 80%;
    transition: .3s ease;
    cursor: pointer;
}

.card-seemore:hover {
    color: #FF0113;
}


.card-seemoreImage {
    height: 20px;
    cursor: pointer;
}


/* --------- FOOTER ------------ */

.section-footer {
    height: 160px;
    background-color: #1A202C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.section-footer p, .section-footer p a {
    color: #EDF2F7;
    font-family: 'Work Sans', Sans Serif;
    line-height: 1.6;
    font-weight: 400;
    font-size: 17px;
}

.section-footer p:nth-child(2) a {
    font-size: 14px;
    text-decoration: underline;
}